body {
  /* min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column; */

  /* font-family: "Montserrat", sans-serif; */
}

.navbar {
  /* background-color: #ff734f; */

  /* Add styles here */
}

.navbar__links-list {
  /* Add styles here */
}

/* .flex-main {
  flex: 1;
  display: flex;
} */

aside {
  /* background-color: #9375b1;
  color: #ffffff; */
}

.avatar {
  /* Add styles here */
}

.main {
  /* Add styles here */
}

.main__title {
  /* Add styles here */
}

.main__center-image {
  /* Add styles here */
}

.footer {
  /* height: 200px;
  padding: 2rem;
  background-color: #292736;
  color: #ffffff; */

  /* Add styles here */
}

/* .footer__btn-link {
  margin: 1rem;
  display: inline-block;
} */

.footer__copyright {
  font-size: .75rem;
  color: #646c7a;
}

.btn-link {
  /* background-color: #286f6c;
  color: #ffffff; */

  /* Add styles here */
}

/* Add hover and focus styles here */


/* .btn-link__contact {
  background-color: #9040e1;
}

.btn-link__contact:hover,
.btn-link__contact:focus {
  background-color: #7105de;
} */

